<td-layout-nav logo="teradata-dark" toolbarTitle="TD Stock" navigationRoute="/">

  <td-layout [mode]="side" [opened]="true" [sidenavWidth]="257">
    <div td-sidenav-content>
     .. more sidenav content
     <button color="accent" mat-raised-button>new button</button>
     <mat-icon class="mat-icon-logo" svgIcon="teradata"></mat-icon>
    </div>
    <div layout="row">
      <div flex>
          <button mat-icon-button [tdLayoutToggle]="true">
              <mat-icon>menu</mat-icon>
            </button>
      </div>
      <div flex>
          <h1 class="mat-display-1">
              Welcome to {{ title }}!
            </h1>
      </div>
      
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </td-layout>

</td-layout-nav>
